
section.slidequote {
    padding-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
 /* opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;*/
}
#fade-quote-carousel.carousel .carousel-inner .active {
/*  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;*/
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
 margin: 0 2px;
	width: 15px;
	height: 15px;
	background: none;
	border: 2px solid #FFF;
	opacity: .7;
}
#fade-quote-carousel.carousel .carousel-indicators > li.active {
	width: 15px;
	height: 15px;
	opacity: 1;
	background: #fff;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
 width: 212px;
height: 212px;
margin: 0px auto;
border-radius: 50%;
border: 8px solid #096781;
display: table;
margin-bottom: 20px;
}
.quote-btn{ background: #8fe143 none repeat scroll 0% 0%;
text-align: center;
padding: 18px 10px;
border-radius: 70px;
color: #2e530c;
width: auto;
margin: 0px auto;
display: block;
width:50%;}
.quote-btn h4{ font-size:22px; margin-bottom:0px; margin-top:0px; font-weight:bold;}
.quote-btn span{ font-size:16px; font-weight:bold}
.quote-txt{ color:#fff; line-height:1.6; font-size:20px;}